extends layout

block content
  app-root
  script(type='text/javascript', src='javascripts/angular-app/inline.bundle.js')
  script(type='text/javascript', src='javascripts/angular-app/polyfills.bundle.js')
  script(type='text/javascript', src='javascripts/angular-app/styles.bundle.js')
  script(type='text/javascript', src='javascripts/angular-app/vendor.bundle.js')
  script(type='text/javascript', src='javascripts/angular-app/main.bundle.js')

