doctype html
html
  head
    title= title
    style.
      html, body {width: 100%; height: 100%; margin: 0; padding: 0;}
      #left-panel { width: 40%; background: #eee; display: block; float: left }
      #right-panel { width: 60%; display: block; float: left }  
  body
    #left-panel
      ul
        li
          a(href="/react-app") ReactApp
        li
          a(href="/angular-app") AngularApp
    #right-panel
      block content
